<header>
    <nav>
        <div class="nav-lien">
           <a routerLink="Accueil" routerLinkActive="active">Accueil</a>
           <a routerLink="Films" routerLinkActive="active">Liste des films</a>
        </div>
        <div class="nav-admin">
           <a routerLink="auth/Admin-inscription" routerLinkActive="active" *ngIf="isAuth">Inscription</a>
           <a routerLink="auth/Admin-actus" routerLinkActive="active" *ngIf="isAuth">Actus</a>
           <a routerLink="auth/Enregistrement" routerLinkActive="active" *ngIf="isAuth">Créer un compte</a>
           <a (click)="onSignOut()" *ngIf="isAuth" style="cursor: pointer">Déconnexion</a>
           <a routerLink="auth/Connexion" routerLinkActive="active" *ngIf="!isAuth">Connexion</a>
        </div>
    </nav>
</header>