
<section class="section-form-actus">
  <div class="titre-form-actus centrer">
    <h1>Enregistrer une nouvelle actualité</h1>
  </div>
  <form class="form-actus"  [formGroup]="actusForm" (ngSubmit)="onSaveNewActus()">
    <div class="form-actus-input">
      <input type="text" id="title" formControlName="title" placeholder="Titre de l'actualitée">
    </div>
    <div>
      <textarea type="text" id="content" formControlName="content" placeholder="Contenu de l'actualité"></textarea>
    </div>
    <button [disabled]="actusForm.invalid" type="submit"><strong>Enregistrer</strong></button>
  </form>
</section>