@charset "UTF-8";
@import "variables";
@import "~bourbon/core/bourbon";
@import "bootstrap-custom";

body {
  background-color: $bg-color;
  font-family: $font-stack-verdana;
  color: $texte-couleur;
}

