
<section class="section-actus">
  <div class="titre-actus centrer">
    <h1>Liste des actualitées</h1>
  </div>
  <div class="liste-actus">
    <div class="items-actus" *ngFor="let actu of actus">
      <h2 class="centrer">{{ actu.title }}</h2>
      <p>{{ actu.content }}</p>
      <button class="" (click)="onDeleteActus(actu)"><strong>Supprimer</strong></button>
    </div>
  </div>
  <button class="button-nouvelle-actus" (click)="onNewActus()"><strong>Nouvelle actualité</strong></button>
</section>

