
<section class="section-creer-compte">
  <div class="titre-creer-compte centrer">
    <h1>Créer un compte</h1>
  </div>
  <form class="form-creer-compte" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form-creer-compte-input">
      <input type="text" id="email" class="" formControlName="email" placeholder="Email ou identifiant">
    </div>
    <div class="form-creer-compte-input">
      <input type="password" id="password" class="" formControlName="password" placeholder="Mot de passe">
    </div>
    <button type="submit" [disabled]="signUpForm.invalid"><strong>Créer un compte</strong></button>
    <p>{{ errorMessage }}</p>
  </form>
</section>
