<div class="titre-films-liste centrer">
  <h1>Listes des films</h1>
</div>

<section class="section-films-liste">
  <div class="block-item-films-liste" *ngFor="let list of listFilms; let i = index">
      <div class="titre-film-liste centrer">
        <h4 class="">{{ list.titre }}</h4>
      </div>
      <div class="img-films-liste">
        <img src="../../assets/images/{{ list.src }}" alt="{{ list.titre }}">
        <div class="block-description-film-liste">
          <div>
            <p><strong><ins>Réalisateur</ins></strong>: {{ list.real | slice:0:8}} ...</p>
            <p><strong><ins>Synopsis</ins></strong>: {{ list.desc | slice:0:120 }} ...</p>
          </div>
          <div class="centrer">
            <span>Le {{ list.date }} août, projection à {{ list.heure }}</span>
            <button (click)="onFilmDetail(i)">Voir détails</button>
          </div>
        </div>
      </div>
  </div>
</section>

<app-footer></app-footer>