<section class="section-film-detail">

  <div class="titre-film-detail centrer">
    <h1>{{ titre }}</h1>
  </div>

  <article class="article-film-detail">
    <img src="../../assets/images/{{ src }}" alt="{{ titre }}">
    <div class="description-film-detail">
        <p><strong><ins>Réalisateur</ins></strong>: {{ real }}</p>
        <p><strong><ins>Synopsis</ins></strong>: {{ desc }}</p>
    </div>
  </article>

  <div class="date-projection-film-detail centrer">
    <p><strong>Le {{ date }} août, projection à {{ heure }}</strong></p>
  </div>

  <article class="article-inscription-film-detail">
    <h2>Inscrivez-vous !</h2>
    <p>Si vous pensez venir voir "{{ titre }}" le {{ date }} août à {{ heure }}, vous pouvez vous pré-inscrire, en indiquant le nombre de personnes qui vous accompagne.</p>
    <div>
      <button class="button-ajouter-film-detail" (click)="onSupprimerInscription()" [disabled]="nonbreInscription <= 0"><strong>-</strong></button>
      <span><strong>{{ nonbreInscription }}</strong></span>
      <button class="button-ajouter-film-detail" (click)="onRajouterInscription()"><strong>+</strong></button>
      <button class="button-inscrire-film-detail" (click)="onEnvoyer()">S'inscrire</button>
    </div>
  </article>

</section>

<app-footer></app-footer>