
<section class="section-connexion">
  <div class="titre-connexion centrer">
    <h1>Connexion à l'administration</h1>
  </div>
  <form class="form-connexion" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <div class="form-connexion-input">
      <input type="text" id="email" formControlName="email" placeholder="Email ou identifiant">
    </div>
    <div class="form-connexion-input">
      <input type="password" id="password" formControlName="password" placeholder="Mot de passe">
    </div>
    <button type="submit" [disabled]="signInForm.invalid"><strong>Connexion</strong></button>
    <p>{{ errorMessage }}</p>
  </form>
</section>
