
<section class="section-accueil centrer">
    <div class="titre-h1-accueil">
        <h1>Festival des films de plein air !</h1>
    </div>
    <article class="article-accueil">
      <h3>Présentation</h3>
      <p>L'association <em>"Les Films de Plein Air"</em> organise cet été de projeter des films d'auteur au <strong>parc Monceau à Paris</strong>.<br>
      <strong>Le festival des films de plein air</strong> aura lieu tous chaque soir du 5 au 8 août, de 18h à minuit. Nous souhaitons ainsi vous faire découvrir des films d'auteur.<br>
      L'accès aux projections sera gratuit et ouvert à tous, n'hésitez donc pas à vous inscrire via notre site.</p>
    </article>
</section>

<app-actus-accueil></app-actus-accueil>

<app-footer></app-footer>