@import "../../sass/variables";

.section-accueil{
  background: url("../../assets/images/parc-monceau_1600x667-nb.jpg") no-repeat center;
  background-size: cover ;
  margin-top: -50px;
  color: $texte-couleur-accueil;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .titre-h1-accueil {
    padding: 10px;
    width: 70vw;
    background-color: $bg-couleur-titre-h1-accueil;
    border: $bordure-titre-h1-accueil;
  }
  h3{
    margin-bottom: 20px;
  }
  .article-accueil{
    font-size: 1.1rem;
    background-color: $bg-article-couleur;
    padding: 10px;
    width: 70vw;
    border: $bordure-article-accueil;
  }
  @media screen and (max-width: 576px){
    margin-top: 0;
  }
}

